[submodule "external/irox"]
	path = external/irox
	url = https://github.com/jordan-clayton/irox.git
[submodule "external/catpuccin_egui"]
	path = external/catpuccin_egui
	url = https://github.com/jordan-clayton/catpuccin_egui.git
[submodule "external/egui_notify"]
	path = external/egui_notify
	url = https://github.com/jordan-clayton/egui-notify.git
[submodule "external/egui_colorgradient"]
	path = external/egui_colorgradient
	url = https://gitlab.com/jordan-clayton/egui-colorgradient.git
